{% extends './layout_gclientes.html' %} 

{% block body %}

{% with mensajes=get_flashed_messages() %}
{% if mensajes %}
{% for mensaje in mensajes %}
<!-- Estos son estilos de boostrap para la parte de mensajes -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{mensaje}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container pt-4">
    <a href="/admin/inicio" style="margin-bottom: 10px;" class="btn btn-primary">Volver</a>
   
    <div class="row">
        <div class="col-md-5">
        <div class=" card card-body">
            <form action="/Agregar_Nacionalidad" method="post">
        
                <div class="form-group">
                    <input type="text" placeholder="Nacionalidad" name="nac"required class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Agregar Nacionalidad</button>
                </div>
            </form>
        </div>
        </div>

        <div class="col-md-5">
            <div class=" card card-body">
                <form action="/Agregar_Puesto" method="post">
            
                    <div class="form-group">
                        <input type="text" placeholder="Categoria" name="puesto"required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="jornal diario (para mensualeros)" name="preciojornal"required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="jornal diario (para jornaleros)" name="preciomensual"required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Mensual" name="mensual"required class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Agregar Puesto</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <!-- Esta es la tabla donde se veran los datos -->
            <table class="table table-striped table-bordered bg-white table-sm">
                <!-- Para los encabezados -->
                <thead> 
                    <tr>
                        <td>Nacionalidades</td>
                        <td>Operaciones</td>
                    </tr>
                </thead>
                <!-- aca obtendremos los datos que recuperamos desde la base de datos -->
                <tbody>
                    {% for nacionalidad in nacionalidades %}
                    <tr>
                        <td>{{nacionalidad.1}}</td>
                        <td>
                            <!-- lo mismo en el edit -->
                            <a href="/editN/{{nacionalidad.0}}" class="btn btn-secondary">Editar</a>
                            <!-- paso el id para saber que registro voy a borrar -->
                            <a href="/deletN/{{nacionalidad.0}}" class="btn btn-danger" >Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}   

                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            <!-- Esta es la tabla donde se veran los datos -->
            <table class="table table-striped table-bordered bg-white table-sm">
                <!-- Para los encabezados -->
                <thead> 
                    <tr>
                        <td>Categorias</td>
                        <td>jornal diario (para mensualeros)</td>
                        <td>jornal diario (para jornaleros)</td>
                        <td>Mensual</td>
                        <td>Operaciones</td>
                    </tr>
                </thead>
                <!-- aca obtendremos los datos que recuperamos desde la base de datos -->
                <tbody>
                    {% for puesto in puestos %}
                    <tr>
                        <td>{{puesto.1}}</td>
                        <td>{{puesto.2}}</td>
                        <td>{{puesto.3}}</td>
                        <td>{{puesto.4}}</td>
                        <td>
                            <!-- lo mismo en el edit -->
                            <a href="/editP/{{puesto.0}}" class="btn btn-secondary">Editar</a>
                            <!-- paso el id para saber que registro voy a borrar -->
                            <a href="/deletP/{{puesto.0}}" class="btn btn-danger" >Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}   
                       
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}