{% extends './layout_empleado.html' %} {% block body %}

<form class="mx-5" action="{{ url_for('empleados_crear_nota') }}" method="POST">
  <div class="form-group px-3">
    <label for="fechaInicio">Fecha de Inicio:</label>
    <input
      type="date"
      class="form-control"
      id="fechaInicio"
      name="fechaInicio"
      required
    />
  </div>
  <div class="form-group px-3">
    <label for="fechaFin">Fecha de Fin:</label>
    <input
      type="date"
      class="form-control"
      id="fechaFin"
      name="fechaFin"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary px-3">Enviar</button>
</form>

{% endblock %}
