{% extends './layout_empleado.html' %} {% block body %}
<div class="container">
  <h1>Notas de Vacaciones</h1>
  <a class="btn btn-primary" href="{{url_for('empleados_crear_nota')}}"
    >Agregar nueva nota</a
  >
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Inicio</th>
        <th>Final</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for note in data %}
      <tr>
        <td>{{ note[0] }}</td>
        <td>{{ note[2] }}</td>
        <td>{{ note[3] }}</td>
        <td>{{ note[5] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
