{% extends './layout_empleado.html' %} {% block body %}
<div class="container">
  <h1>Informacion de nomina</h1>
  <a class="btn btn-primary" href="/empleados/inicio">Volver</a>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID empleado</th>
        <th>Fecha</th>
        <th>Deducciones</th>
        <th>Retiros</th>
        <th>Salario Neto</th>
      </tr>
    </thead>
    <tbody>
      {% for nomina in nominas %}
      <tr>
        <td>{{ nomina[1] }}</td>
        <td>{{ nomina[3] }}</td>
        <td>{{ nomina[4] }}</td>
        <td>{{ nomina[5] }}</td>
        <td>{{ nomina[6] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
